workflows/slr_screening_batch.json
{
  "name": "SLR_Screening_Batch",
  "nodes": [
    {
      "parameters": {
        "path": "screening-batch",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "execute-workflow-trigger-node",
      "name": "Execute_Workflow_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "slr-screening-batch-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT d.id, d.review_id, d.title, d.abstract, d.authors, d.publication_year, d.journal, d.doi\nFROM documents d\nLEFT JOIN screening_decisions sd ON d.id = sd.document_id\nWHERE d.review_id = $1\n  AND sd.id IS NULL\n  AND d.id > COALESCE($2, '00000000-0000-0000-0000-000000000000'::uuid)\nORDER BY d.id\nLIMIT $3",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "review_id",
                "value": "={{ $json.review_id }}"
              },
              {
                "name": "last_processed_id",
                "value": "={{ $json.last_processed_id || '00000000-0000-0000-0000-000000000000' }}"
              },
              {
                "name": "batch_size",
                "value": "={{ $json.batch_size || 100 }}"
              }
            ]
          }
        }
      },
      "id": "fetch-unscreened-batch-node",
      "name": "Fetch_Unscreened_Batch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_slr",
          "name": "PostgreSQL SLR"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, pico, inclusion_criteria, exclusion_criteria\nFROM reviews\nWHERE id = $1",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "review_id",
                "value": "={{ $json.review_id }}"
              }
            ]
          }
        }
      },
      "id": "load-review-config-node",
      "name": "Load_Review_Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_slr",
          "name": "PostgreSQL SLR"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "split-into-batches-node",
      "name": "Split_Into_Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const reviewConfig = $input.first().json;\nconst document = $input.item.json;\n\nconst prompt = `You are an AI assistant performing title/abstract screening for a systematic literature review.\n\nReview Title: ${reviewConfig.title}\n\nPICO Framework:\n${JSON.stringify(reviewConfig.pico, null, 2)}\n\nInclusion Criteria:\n${reviewConfig.inclusion_criteria}\n\nExclusion Criteria:\n${reviewConfig.exclusion_criteria}\n\nDocument to Screen:\nTitle: ${document.title}\nAbstract: ${document.abstract}\nAuthors: ${document.authors}\nJournal: ${document.journal}\nYear: ${document.publication_year}\nDOI: ${document.doi}\n\nBased on the title and abstract, determine if this document should be:\n- INCLUDE: Meets inclusion criteria, proceed to full-text screening\n- EXCLUDE: Does not meet criteria\n- UNCERTAIN: Unclear, needs human review\n\nProvide your response in JSON format:\n{\n  \"decision\": \"INCLUDE|EXCLUDE|UNCERTAIN\",\n  \"reasoning\": \"Brief explanation of your decision\",\n  \"confidence\": 0.0-1.0,\n  \"relevant_criteria\": [\"criterion1\", \"criterion2\"]\n}`;\n\nreturn {\n  prompt,\n  document_id: document.id,\n  review_id: document.review_id\n};"
      },
      "id": "build-screening-prompt-node",
      "name": "Build_Screening_Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {
          "temperature": 0.1,
          "maxTokens": 1000,
          "topP": 0.95
        },
        "prompt": "={{ $json.prompt }}"
      },
      "id": "ai-screening-node",
      "name": "AI_Screening_Node",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const aiResponse = $input.item.json.response || $input.item.json.text || JSON.stringify($input.item.json);\nconst document_id = $input.item.json.document_id;\nconst review_id = $input.item.json.review_id;\n\nlet parsed;\ntry {\n  // Try to parse JSON response\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in response');\n  }\n} catch (error) {\n  // Fallback: simple heuristic parsing\n  const decision = aiResponse.toLowerCase().includes('include') ? 'INCLUDE' :\n                   aiResponse.toLowerCase().includes('exclude') ? 'EXCLUDE' : 'UNCERTAIN';\n  parsed = {\n    decision,\n    reasoning: aiResponse.substring(0, 500),\n    confidence: 0.5,\n    relevant_criteria: []\n  };\n}\n\nreturn {\n  document_id,\n  review_id,\n  decision: parsed.decision,\n  reasoning: parsed.reasoning,\n  confidence: parsed.confidence,\n  relevant_criteria: JSON.stringify(parsed.relevant_criteria || []),\n  ai_model: 'llama3.1:latest',\n  screening_stage: 'title_abstract'\n};"
      },
      "id": "parse-screening-results-node",
      "name": "Parse_Screening_Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "schema": [
            {
              "column": "document_id",
              "type": "uuid"
            },
            {
              "column": "review_id",
              "type": "uuid"
            },
            {
              "column": "screening_stage",
              "type": "text"
            },
            {
              "column": "decision",
              "type": "text"
            },
            {
              "column": "reasoning",
              "type": "text"
            },
            {
              "column": "confidence",
              "type": "numeric"
            },
            {
              "column": "relevant_criteria",
              "type": "jsonb"
            },
            {
              "column": "screened_by",
              "type": "text"
            },
            {
              "column": "ai_model",
              "type": "text"
            }
          ]
        },
        "table": "screening_decisions",
        "columns": "document_id,review_id,screening_stage,decision,reasoning,confidence,relevant_criteria,screened_by,ai_model",
        "options": {}
      },
      "id": "save-screening-decisions-node",
      "name": "Save_Screening_Decisions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_slr",
          "name": "PostgreSQL SLR"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "rate-limit-wait-node",
      "name": "Rate_Limit_Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_state (\n  review_id,\n  execution_id,\n  workflow_stage,\n  checkpoint_data,\n  items_processed,\n  items_total,\n  last_processed_id,\n  error_count\n)\nVALUES (\n  $1, $2, 'title_abstract_screening', $3, $4, $5, $6, $7\n)\nON CONFLICT (execution_id)\nDO UPDATE SET\n  checkpoint_data = EXCLUDED.checkpoint_data,\n  items_processed = EXCLUDED.items_processed,\n  last_processed_id = EXCLUDED.last_processed_id,\n  error_count = EXCLUDED.error_count,\n  updated_at = NOW()\nRETURNING *",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "review_id",
                "value": "={{ $json.review_id }}"
              },
              {
                "name": "execution_id",
                "value": "={{ $('Execute_Workflow_Trigger').item.json.execution_id }}"
              },
              {
                "name": "checkpoint_data",
                "value": "={{ JSON.stringify({ batch_completed: $runIndex, timestamp: new Date().toISOString() }) }}"
              },
              {
                "name": "items_processed",
                "value": "={{ $runIndex * 10 }}"
              },
              {
                "name": "items_total",
                "value": "={{ $('Fetch_Unscreened_Batch').item.json.total_count || 0 }}"
              },
              {
                "name": "last_processed_id",
                "value": "={{ $json.document_id }}"
              },
              {
                "name": "error_count",
                "value": "0"
              }
            ]
          }
        }
      },
      "id": "update-checkpoint-node",
      "name": "Update_Checkpoint",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2050, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_slr",
          "name": "PostgreSQL SLR"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "batch_completed"
            },
            {
              "name": "stage",
              "value": "title_abstract_screening"
            }
          ],
          "number": [
            {
              "name": "items_processed",
              "value": "={{ $runIndex * 10 }}"
            },
            {
              "name": "batch_number",
              "value": "={{ $runIndex }}"
            }
          ],
          "boolean": [
            {
              "name": "has_more_batches",
              "value": "={{ $('Split_Into_Batches').context.noItemsLeft === false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "return-batch-status-node",
      "name": "Return_Batch_Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response-node",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2450, 300]
    }
  ],
  "connections": {
    "Execute_Workflow_Trigger": {
      "main": [
        [
          {
            "node": "Fetch_Unscreened_Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch_Unscreened_Batch": {
      "main": [
        [
          {
            "node": "Load_Review_Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load_Review_Config": {
      "main": [
        [
          {
            "node": "Split_Into_Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_Into_Batches": {
      "main": [
        [
          {
            "node": "Build_Screening_Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Screening_Prompt": {
      "main": [
        [
          {
            "node": "AI_Screening_Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Screening_Node": {
      "main": [
        [
          {
            "node": "Parse_Screening_Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_Screening_Results": {
      "main": [
        [
          {
            "node": "Save_Screening_Decisions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_Screening_Decisions": {
      "main": [
        [
          {
            "node": "Rate_Limit_Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate_Limit_Wait": {
      "main": [
        [
          {
            "node": "Update_Checkpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_Checkpoint": {
      "main": [
        [
          {
            "node": "Split_Into_Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_Into_Batches": {
      "main": [
        null,
        [
          {
            "node": "Return_Batch_Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return_Batch_Status": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "id": "slr-workflows",
      "name": "SLR Workflows"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-25T00:00:00.000Z",
  "versionId": "1.0.0",
  "active": false
}
